body {
    margin: 0;
    padding: 0;
    background-color: #EAF6F6;
}

/* hr { /* It is a type selector
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: white;
    width: 5%;
} */

h1 {
    color: #66BFBF;
    font-family: 'Lucida Handwriting', Courier, monospace;
}

h3 {
    color: #66BFBF;
    font-family: Verdana, Arial, Verdana;
}

img {
    border-radius: 50%;
}
img:hover, button:hover {
    box-shadow: 0 0 5px 2px #3E54AC;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.navbar-div1, .navbar-div2 {
    display: flex;
    align-items: center;
    width: 50%;
}

.navbar-div1 {
    justify-content: start;
}

.navbar-div2 {
    justify-content: end;
}

.name {
    color: #66BFBF;
    margin: 20px 30px;
    cursor: pointer;
}
.navbar-text {
    color: #66BFBF;
    margin: 20px 30px;
    cursor: pointer;
}

.table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-intro {
    margin: 50px 0;
}

.about-me {
    width: 100px;
}

.opt-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    padding: 20px;
    margin-right: 20px;
    /* background-color: lightgoldenrodyellow; */
}

a {
    text-decoration: none;
    color: #66BFBF;
}